<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h3>Hello World</h3>
  <h1>Welcome to tutorials of {{ courseName }}</h1>
</header>

<div class="routTab">
  <button class="btn btn-primary" (click)="clicked()"><a [routerLink]="['/interpolation']"
      routerLinkActive="router-link-active">Interpolation</a></button>
  <button class="btn btn-primary"><a [routerLink]="['/propbinding']" routerLinkActive="router-link-active">Propery
      Binding</a></button>
  <button class="btn btn-primary"><a [routerLink]="['/classbinding']" routerLinkActive="router-link-active">Class
      binding</a></button>
  <button class="btn btn-primary"><a [routerLink]="['/stylebinding']" routerLinkActive="router-link-active">Style
      Binding</a></button>
  <button class="btn btn-primary"><a [routerLink]="['/eventbinding']" routerLinkActive="router-link-active">Event
      Binding</a></button>
  <button class="btn btn-primary"><a [routerLink]="['/bidirectionalbinding']"
      routerLinkActive="router-link-active">Bidirectional binding</a></button>
</div>

<router-outlet></router-outlet>
