.txtColor{
  color: green;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding: 3px;
}

.clickColor{
  color: rgb(38, 0, 255);
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding: 3px;
}

.btn{
  border-color: black;
  border-width: 2px;
  margin: 30px;
}
